/* Insert your styles here */
body, html {
  scroll-behavior: smooth;
  height: 100%;
}

main {
  height: 100vh;  
}

#logo {
   width: 40px;
 }
header {
  text-align: center;
  background-color: white;
    position: fixed;
    height: 40px;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 1;

}
ul {
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 40px;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.parallax1 {
  background-image: url('../image/seen.jpg');
  height: 110%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url('../image/background-image.jpg');
  height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 {
  background-image: url('../image/parallax3.jpeg');
  height: 60%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
.logo {
  float: left;
  width: 45px;
}

.column {
  float: left;
  width: 45%;
  padding: 20px;
  height: 250px;
}

.row {
  display: table;
  clear: both;
  margin-top: 75px;


}

.flim {
  width: 300px;
  height: 300px;
}
img {
  float: left;
}
.discription  {
  float: inherit;
  background-color: lightgrey;
  opacity: 1;
  width: 350px;
  height: 300px;
}
  
.discription p {

margin-left: 20px;
}

article {
  display: flex;
}


table{
  border:10px;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 9px;
}

tr:nth-child(odd) {
  background-color: #ecfae6;
  opacity: 0.7;
}
tr:nth-child(even) {
  background-color: #d5ebed;
  opacity: 0.6;


}

a.groove {border-style: groove;}

#about-us {
  color: wheat;
}

#movie-AHF,#movie-ANM, #movie-RMC, #movie-ACT {
  background-color: lightgray;
  
}

.fieldset{
  display: inline-block;
  width:550px;
  height: 275px;
  margin: 10px;
  border: 3px solid #73AD21;  

}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #a1a196;
  color: white;
  text-align: center;
}


  
.input-row{
  position: relative;
  min-width: 130px;
  max-width: 530px;
  margin: 10px 0;
}

#booking_id{
  display: none;
}